<a href="https://colab.research.google.com/github/PatrickRuan/2nd-ML100Days/blob/master/Day_002_HW_Done.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [0]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse



# Generate auth tokens for Colab
from google.colab import auth
auth.authenticate_user()


# Generate creds for the Drive FUSE library.
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}


# Create a directory and mount Google Drive using that directory.
!mkdir -p drive
!google-drive-ocamlfuse drive

print('Files in Drive:')

# Create a file in Drive.
!echo "This newly created file will appear in your Drive file list." > drive/created.txt

E: Package 'python-software-properties' has no installation candidate

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [0]:
import os
import numpy as np
import pandas as pd

In [0]:
# 設定 data_path
dir_data = 'drive/學習/Cupoy-AI2/part01/'

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: drive/學習/Cupoy-AI2/part01/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
print(app_train.shape)
print(f'the number of column at app_train is: {app_train.shape[1]}')
print(f'the number of row at app_train is: {app_train.shape[0]}')

(307511, 122)
the number of column at app_train is: 122
the number of row at app_train is: 307511

#### 列出所有欄位

In [6]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [20]:
app_train[3:4].CODE_GENDER

3    F
Name: CODE_GENDER, dtype: object

#### 截取部分資料

In [0]:
app_train[300:308][['TARGET','NAME_CONTRACT_TYPE']]

     TARGET NAME_CONTRACT_TYPE
300       0         Cash loans
301       0         Cash loans
302       0         Cash loans
303       0         Cash loans
304       0         Cash loans
305       0         Cash loans
306       0         Cash loans
307       0         Cash loans

In [0]:
app_train[300:308][app_train.columns[3:6]]

    CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY
300           F            N               N
301           F            N               Y
302           F            N               N
303           F            N               N
304           F            N               N
305           F            N               Y
306           F            N               N
307           F            N               Y

In [0]:
app_train.iloc[300:308,3:6]

    CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY
300           F            N               N
301           F            N               Y
302           F            N               N
303           F            N               N
304           F            N               N
305           F            N               Y
306           F            N               N
307           F            N               Y

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子