<a href="https://colab.research.google.com/github/PatrickRuan/2nd-ML100Days/blob/master/Day_004_HW%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
from google.colab import drive
drive.mount('/content/drive')
root = 'drive/My Drive/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import os
import numpy as np
import pandas as pd

In [0]:
# 設定 data_path, 並讀取 app_train
dir_data = root + '學習/Cupoy-AI2/Part01/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [4]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [5]:
"""
Your Code Here
"""
print(f'type of sub_train is, {sub_train.shape}')
print(f'date type of sub_train element is, {type(sub_train.iloc[0,0])}')
print(f'columns of sub_train are, {sub_train.columns}')

type of sub_train is, (307511, 1)
date type of sub_train element is, <class 'str'>
columns of sub_train are, Index(['WEEKDAY_APPR_PROCESS_START'], dtype='object')

In [0]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
LE.fit(sub_train)
sub_train['WEEKDAY_APPR_PROCESS_START']= LE.transform(sub_train)
sub_train.head()

print(f'type of sub_train after LABELENCODING is, {sub_train.shape}\n')
print(f'date type of sub_train element after LABELENCODING is, {type(sub_train.iloc[0,0])}\n')
print(f'columns of sub_train after LABELENCODING are, {sub_train.columns}\n\n')

type of sub_train after LABELENCODING is, (307511, 1)

date type of sub_train element after LABELENCODING is, <class 'numpy.int64'>

columns of sub_train after LABELENCODING are, Index(['WEEKDAY_APPR_PROCESS_START'], dtype='object')

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [6]:
sub_train = pd.get_dummies(sub_train)
sub_train

        WEEKDAY_APPR_PROCESS_START_FRIDAY  ...  WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                       0  ...                                     1
1                                       0  ...                                     0
2                                       0  ...                                     0
3                                       0  ...                                     1
4                                       0  ...                                     0
5                                       0  ...                                     1
6                                       0  ...                                     0
7                                       0  ...                                     0
8                                       0  ...                                     1
9                                       0  ...                                     0
10                                      0  ...                                     0
11                                      1  ...                                     0
12                                      1  ...                                     0
13                                      0  ...                                     0
14                                      0  ...                                     0
15                                      0  ...                                     0
16                                      0  ...                                     0
17                                      0  ...                                     0
18                                      1  ...                                     0
19                                      0  ...                                     0
20                                      1  ...                                     0
21                                      0  ...                                     0
22                                      0  ...                                     0
23                                      1  ...                                     0
24                                      0  ...                                     0
25                                      0  ...                                     0
26                                      0  ...                                     0
27                                      0  ...                                     0
28                                      0  ...                                     1
29                                      0  ...                                     0
...                                   ...  ...                                   ...
307481                                  1  ...                                     0
307482                                  0  ...                                     0
307483                                  0  ...                                     0
307484                                  0  ...                                     0
307485                                  0  ...                                     0
307486                                  0  ...                                     0
307487                                  0  ...                                     1
307488                                  0  ...                                     1
307489                                  1  ...                                     0
307490                                  0  ...                                     0
307491                                  0  ...                                     0
307492                                  1  ...                                     0
307493                                  0  ...                                     0
307494                                  0  ...                                     0
307495                                  0  ...                                     1
307496                                  0  ...                                     0
307497                                  0  ...                                     0
307498                                  0  ...                                     0
307499                                  0  ...                                     0
307500                                  1  ...                                     0
307501                                  0  ...                                     1
307502                                  0  ...                                     0
307503                                  0  ...                                     0
307504                                  0  ...                                     1
307505                                  0  ...                                     0
307506                                  0  ...                                     0
307507                                  0  ...                                     0
307508                                  0  ...                                     0
307509                                  0  ...                                     1
307510                                  0  ...                                     0

[307511 rows x 7 columns]

In [7]:
print(f'type of sub_train after ONEHOTENCODING is, {sub_train.shape}\n')
print(f'date type of sub_train element after ONEHOTENCODING is, {type(sub_train.iloc[0,0])}\n')
print(f'columns of sub_train after ONEHOTENCODING are, {sub_train.columns}\n\n')

type of sub_train after ONEHOTENCODING is, (307511, 7)

date type of sub_train element after ONEHOTENCODING is, <class 'numpy.uint8'>

columns of sub_train after ONEHOTENCODING are, Index(['WEEKDAY_APPR_PROCESS_START_FRIDAY',
       'WEEKDAY_APPR_PROCESS_START_MONDAY',
       'WEEKDAY_APPR_PROCESS_START_SATURDAY',
       'WEEKDAY_APPR_PROCESS_START_SUNDAY',
       'WEEKDAY_APPR_PROCESS_START_THURSDAY',
       'WEEKDAY_APPR_PROCESS_START_TUESDAY',
       'WEEKDAY_APPR_PROCESS_START_WEDNESDAY'],
      dtype='object')