<a href="https://colab.research.google.com/github/PatrickRuan/2nd-ML100Days/blob/master/Day_004_HW%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
from google.colab import drive
drive.mount('/content/drive')
root = 'drive/My Drive/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import os
import numpy as np
import pandas as pd

In [0]:
# 設定 data_path, 並讀取 app_train
dir_data = root + '學習/Cupoy-AI2/Part01/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [12]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [9]:
"""
Your Code Here
"""
print(f'type of sub_train is, {sub_train.shape}')
print(f'date type of sub_train element is, {type(sub_train.iloc[0,0])}')
print(f'columns of sub_train are, {sub_train.columns}')

type of sub_train is, (307511, 1)
date type of sub_train element is, <class 'str'>
columns of sub_train are, Index(['WEEKDAY_APPR_PROCESS_START'], dtype='object')

In [13]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
LE.fit(sub_train)
sub_train['WEEKDAY_APPR_PROCESS_START']= LE.transform(sub_train)
sub_train.head()

print(f'type of sub_train after LABELENCODING is, {sub_train.shape}\n')
print(f'date type of sub_train element after LABELENCODING is, {type(sub_train.iloc[0,0])}\n')
print(f'columns of sub_train after LABELENCODING are, {sub_train.columns}\n\n')
sub_train.head()

type of sub_train after LABELENCODING is, (307511, 1)

date type of sub_train element after LABELENCODING is, <class 'numpy.int64'>

columns of sub_train after LABELENCODING are, Index(['WEEKDAY_APPR_PROCESS_START'], dtype='object')

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   WEEKDAY_APPR_PROCESS_START
0                           6
1                           1
2                           1
3                           6
4                           4

In [18]:
sub_train = sub_train.astype('str')
sub_train = pd.get_dummies(sub_train)
sub_train.head()

   WEEKDAY_APPR_PROCESS_START_0  ...  WEEKDAY_APPR_PROCESS_START_6
0                             0  ...                             1
1                             0  ...                             0
2                             0  ...                             0
3                             0  ...                             1
4                             0  ...                             0

[5 rows x 7 columns]

In [19]:
print(f'type of sub_train after ONEHOTENCODING is, {sub_train.shape}\n')
print(f'date type of sub_train element after ONEHOTENCODING is, {type(sub_train.iloc[0,0])}\n')
print(f'columns of sub_train after ONEHOTENCODING are, {sub_train.columns}\n\n')

type of sub_train after ONEHOTENCODING is, (307511, 7)

date type of sub_train element after ONEHOTENCODING is, <class 'numpy.uint8'>

columns of sub_train after ONEHOTENCODING are, Index(['WEEKDAY_APPR_PROCESS_START_0', 'WEEKDAY_APPR_PROCESS_START_1',
       'WEEKDAY_APPR_PROCESS_START_2', 'WEEKDAY_APPR_PROCESS_START_3',
       'WEEKDAY_APPR_PROCESS_START_4', 'WEEKDAY_APPR_PROCESS_START_5',
       'WEEKDAY_APPR_PROCESS_START_6'],
      dtype='object')